<ion-view view-title="Search">
  <ion-content>
    <h1>Services</h1>
	
<div class = "row">
   <div class = "col">Day</div>
   <div class = "col">Monday</div>
   <div class = "col">Tuesday </div>
   <div class = "col">Wednesday</div>
   <div class = "col">Thursday</div>
   <div class = "col">Friday</div>
   <div class = "col">Saturday</div>
   <div class = "col">Sunday</div>
</div>	
<div class = "row">
   <div class = "col">8.15 AM</div>
   <div class = "col-90">Temple Open</div>

</div>
  

  </ion-content>
</ion-view>
